.thumb {
  display: block;
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  .thumb-title {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    color: $white;
    background: rgba(0,0,0,0.6);
    padding: 5px;
    opacity: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 2;
  }
  .thumb-meta {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    padding: 5px;
    background: rgba(0,0,0,0.6);
    color: $white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: $h5;
    line-height: 1;
    z-index: 2;
  }
  .thumb-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
  }
}
.thumb:hover {
  .thumb-title {
    opacity: 1;
  }
}
