.out, .out2 {
  transition: opacity .8s, transform .5s;
  -webkit-transition: opacity .8s, transform .5s;
  opacity: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  &.in {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.out3 {
  transition: opacity .8s, transform .5s;
  -webkit-transition: opacity .8s, transform .5s;
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: translateY(1.2);
  &.in {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}