
.bg-gray-darkest { background-color: $gray-darkest; }
.bg-gray-darkerer { background-color: $gray-darkerer; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-lighterer { background-color: $gray-lighterer; }
.bg-gray-lightest { background-color: $gray-lightest; }

.gray-darkest { color: $gray-darkest; }
.gray-darkerer { color: $gray-darkerer; }
.gray-darker { color: $gray-darker; }
.gray-dark { color: $gray-dark; }
.gray { color: $gray; }
.gray-light { color: $gray-light; }
.gray-lighter { color: $gray-lighter; }
.gray-lightest { color: $gray-lightest; }

.bg-darken-5 { background-color: $darken-5; }
.bg-darken-6 { background-color: $darken-6; }
.bg-darken-7 { background-color: $darken-7; }
.bg-darken-8 { background-color: $darken-8; }
